// Variables
// *------------------------------------------------*
$header-gradient: linear-gradient(144deg, rgba(255,118,1,1) 6%, rgb(252, 215, 198) 42%, rgba(231,251,255,1) 50%, rgba(1,167,192,1) 94%);
$color-white: #ffffff;
$color-black: #000000;
$color-fire: #02B2A8;
$color-ice: #01a7c0;
$color-cold: #e7fbff;
$color-orange: #fcd7c6;
$color-cream: #FAFBF4;
$color-island: #FAFBF4;
$color-hpteal: #02B2A8;
$color-grey: #F0F4F8;

$radius-2: 2px;
$radius-4: 4px;
