@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Eyjmmd8WD07oB-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$base-font-family: 'Rubik', sans-serif;

html {
  font-family: $base-font-family;
  color: $color-black;
  background: $color-white;
}

body {
  background: $color-island;
}

// Header
// *------------------------------------------------*
.d-header {
  height: 5em;
  background-size: cover;
  background: $header-gradient;
  .d-header-icons {
    .d-icon {
      color: $color-white;
      font-size: 22px;
    }
  }
}

.menu-panel .panel-body-bottom .btn {
  background: $header-gradient;
  &.btn:hover {
    background: $color-fire;
  }
}

.menu-panel.drop-down {
  border-radius: $radius-4;
  box-shadow: 0 8px 60px 0 rgba(255,118,1,.15), 0 12px 90px 0  rgb(252, 215, 198);
}

// New Topic Button
// *------------------------------------------------*
#create-topic {
  color: $color-black;
  background: transparent;
  border-radius: $radius-4;
  border: 2px solid $color-ice;
  .fa {
    color: $color-black;
  }
  &:hover {
    background: $color-ice;
    color: $color-white;
    border-radius: $radius-4;
    box-shadow: 0 0 25px -3px $color-ice;
    .fa {
      color: $color-white;
    }
  }
}

.open .grippie {
  background: $header-gradient;
}

// User Card Avatars
// *------------------------------------------------*
.user-card-avatar img.avatar {
  background-image: $header-gradient;
  border: 4px solid transparent;
}

// Dropdown
// *------------------------------------------------*
.select-kit {
.dropdown-select-box-header {
  border: 2px solid transparent;
}
&.categories-admin-dropdown, &.topic-notifications-options {
  .dropdown-select-box-header {
    border: 2px solid $color-fire;
  }
 }
}

.select-kit.single-select.is-expanded .select-kit-header:not(.btn) {
  border-color: $color-ice;
  outline: none;
}

// Advanced Search
// *------------------------------------------------*
.search-container .search-advanced-sidebar {
  .search-advanced-title {
    background: $header-gradient;
    border-radius: 10px 10px 0 0;
  }
  .search-advanced-filters {
    border-radius: 0 0 10px 10px;
  }
}

// Admin
// *------------------------------------------------*
.admin-controls {
  .nav-pills>li a.active {
    background: none;
  }
}